@font-face {
    font-family: Source Sans Pro;
     src: url("assets/fonts/SourceSansPro-Regular.ttf");
   }
.header {
    background-color: #14142b;
}   
* {
    box-sizing: border-box;
  }


header {
    display: block;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.main {
  margin-bottom: auto;
}

main {display: block;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400; 
  }
  
.container {
    max-width: 1440px;
    margin: 0 auto;
  }

.nav-list {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    list-style: none;
  }

.nav-link {
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    }
 

html {
    scroll-behavior: smooth; 
  }

.nav-link {
    transition: .3s;
  }

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px 30px 150px;
  background-color: #1d1c3b;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
}

.section-profile-logo {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 0%;
  box-shadow: 0 90px 4px rgb(0 0 0 / 60%);
  filter: grayscale(0.2) brightness(75%) contrast(1.5);
  transition: .3s;
}
.profile-logo-margin {
  margin: 50px 7px -59px 5px;
  background-image: src;
 
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  
} 

.main-title {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  color:#fff;
  font-size: 65px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 50px;
  word-spacing: 3px;
}

.section-title {
  margin-bottom: 20px;
}

.section-subtitle {
  margin-top: 20px;
  color:#fff;
  background-color: #23224d;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 3px;
}






.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }

.section-item a:hover {
    color: #4d2323;
  }